{{#unless (is-pending _legends)}}
    {{#each (await _legends) as |legend|}}
        <div class="{{flexberryClassNames.imageWrapper}}">
        <img class="{{flexberryClassNames.image}}" src="{{legend.src}}">
        {{#if showLayerName}}
            <label class="layer-legend-caption">{{legend.layerName}}</label>
        {{/if}}
        </div>
    {{/each}}
{{/unless}}
