{{#unless (is-pending _legends)}}
    {{#each (await _legends) as |legend|}}
        <div class="{{flexberryClassNames.imageWrapper}}">
        <img class="{{flexberryClassNames.image}}" src="{{legend.src}}">
        {{#if showLayerName}}
            {{legend.layerName}}
        {{/if}}
        </div>
    {{/each}}
{{/unless}}
