<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.esri-tile.url-textbox.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.url
  }}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.esri-tile.restUrl-textbox.caption"}}
  </label>
  {{flexberry-textbox
    class="fluid"
    value=settings.restUrl
  }}
</div>
